.thread-container{
    
    .thread-header{
        display: flex;
        justify-content: space-between;

        .icon{
            
            outline: none;
            font-size: 20px;
            background-color: transparent;
        }

        button:focus {
            outline: none;
            background-color: blue;
        }
    }

    h3{
        margin: 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    .thread-list li{
        border-bottom: 1px solid grey;
        height: 40px;
        margin: 8px 0;
    }
}