.dm-container{
    
    .dm-header{
        padding: 0px 8px;

        display: flex;
        justify-content: space-between;

        .icon{
            
            outline: none;
            font-size: 20px;
            background-color: transparent;
        }

        button:focus {
            outline: none;
            background-color: blue;
        }
    }

    h3{
        margin: 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    .dm-list li{
        border-bottom: 1px solid #e9ebeb;
        height: 50px;
        padding: 5px 8px 0;
    }

    .selected-li {
        background-color: #e9ebeb;
    }
}