.message-display-container{

    height: 100%;

    padding: 8px;
    display: flex;
    flex-direction: column;
    flex: 1;

    overflow-y: auto;

    justify-content: space-between;

    background-color: #e2dad2;
}

.messages {

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.message-header {
    background-color: white;
    min-height: 60px;
    padding: 0 16px;
    margin: -8px ;

    color: black;
    font-weight: bold;
    font-size: 20px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.messages .from-messages , .messages .to-messages {

    border-radius: 10px; 

    margin: 12px 0px;
    padding: 8px 10px;

    min-width: 150px;
    max-width: 70%;

    display: flex;
}

.from-messages {
    
    background-color: white;
}

.to-messages {
      
    background-color: #8AAAE5;
    
}