.message-display-container{

    height: 100%;

    display: flex;
    flex-direction: column;
    flex: 1;

    justify-content: space-between;

    background-color: #e2dad2;
}

.messages {

    // display: flex;
    // flex-direction: column;
    // align-items: flex-end;

    overflow-y: auto;
    height: 100%;
    margin: 12px 8px 0;
}

.message-header {
    background-color: white;
    min-height: 60px;
    padding: 0 16px;
    margin: -8px ;

    color: black;
    font-weight: bold;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .group-member {
        font-size: 12px;
    }
}

.messages .from-messages , .messages .to-messages {

    border-radius: 10px; 

    margin: 12px 0px;
    padding: 8px 10px;

    min-width: 150px;
    max-width: 70%;

    // display: flex;
    // flex-direction: column;

    .group-send-by{

        font-weight: bold;
        font-size: 12px;
    }
}

.from-messages {
    
    background-color: white;
    float: left;
    clear: both;
}

.to-messages {
      
    background-color: #8AAAE5;
    float: right;
    clear: both;
}